div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj70592 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 596px;
height: 842px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj70592_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 596px;
	height: 842px;
}
div#obj70589 {
position: absolute;
overflow: hidden;
top: 782px;
left: 344px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj70589_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj70586 {
position: absolute;
overflow: hidden;
top: 782px;
left: 429px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj70586_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj70582 {
position: absolute;
overflow: hidden;
top: 782px;
left: 269px;
width: 53px;
height: 51px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj70582_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 53px;
	height: 51px;
}
div#obj70574 {
position: absolute;
overflow: hidden;
top: 80px;
left: 56px;
width: 36px;
height: 40px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj70574_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36px;
	height: 40px;
}
div#obj70564 {
position: absolute;
overflow: hidden;
top: 544px;
left: 296px;
width: 30px;
height: 30px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj70564_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
}
div#obj70556 {
position: absolute;
overflow: hidden;
top: 252px;
left: 56px;
width: 176px;
height: 241px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj70556_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 176px;
	height: 241px;
}
div#obj70308 {
position: absolute;
overflow: hidden;
top: 782px;
left: 192px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj70308_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj70300 {
position: absolute;
overflow: hidden;
top: 782px;
left: 192px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj70300_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj87262 {
position: absolute;
overflow: hidden;
top: 783px;
left: 120px;
width: 54px;
height: 51px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj87262_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 54px;
	height: 51px;
}
div#obj87257 {
position: absolute;
overflow: hidden;
top: 783px;
left: 118px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 33;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj87257_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}

div#obj70580 {
position: absolute;
overflow: hidden;
top: 33px;
left: 101px;
width: 116px;
height: 28px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj70580_content {
}
div#obj70576 {
position: absolute;
overflow: hidden;
top: 72px;
left: 101px;
width: 460px;
height: 58px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj70576_content {
}
div#obj70570 {
position: absolute;
overflow: hidden;
top: 223px;
left: 248px;
width: 110px;
height: 61px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #D8D8D8;
border-color: #0A4D7F;
border-width: 1px;
border-style: solid;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
div#obj70570_content {
}
div#obj70566 {
position: absolute;
overflow: hidden;
top: 239px;
left: 412px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj70566_content {
}
div#obj70562 {
position: absolute;
overflow: hidden;
top: 146px;
left: 156px;
width: 284px;
height: 34px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
text-align: center;
}
div#obj70562_content {
}
div#obj70554 {
position: absolute;
overflow: hidden;
top: 303px;
left: 248px;
width: 110px;
height: 61px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #D8D8D8;
border-color: #0A4D7F;
border-width: 1px;
border-style: solid;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
div#obj70554_content {
}
div#obj70550 {
position: absolute;
overflow: hidden;
top: 380px;
left: 248px;
width: 110px;
height: 61px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #D8D8D8;
border-color: #0A4D7F;
border-width: 1px;
border-style: solid;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
div#obj70550_content {
}
div#obj70546 {
position: absolute;
overflow: hidden;
top: 459px;
left: 247px;
width: 110px;
height: 61px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #D8D8D8;
border-color: #0A4D7F;
border-width: 1px;
border-style: solid;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
div#obj70546_content {
}
div#obj70542 {
position: absolute;
overflow: hidden;
top: 315px;
left: 412px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj70542_content {
}
div#obj70540 {
position: absolute;
overflow: hidden;
top: 392px;
left: 412px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj70540_content {
}
div#obj70538 {
position: absolute;
overflow: hidden;
top: 471px;
left: 410px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj70538_content {
}
div#obj70485 {
position: absolute;
overflow: hidden;
top: 658px;
left: 317px;
width: 99px;
height: 40px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj70485_content {
}
div#obj70432 {
position: absolute;
overflow: hidden;
top: 597px;
left: 317px;
width: 99px;
height: 40px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj70432_content {
}
div#obj70379 {
position: absolute;
overflow: hidden;
top: 597px;
left: 161px;
width: 99px;
height: 40px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj70379_content {
}
div#obj70326 {
position: absolute;
overflow: hidden;
top: 658px;
left: 161px;
width: 99px;
height: 40px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj70326_content {
}
div#obj94717 {
position: absolute;
overflow: hidden;
top: 736px;
left: 519px;
width: 45px;
height: 25px;
opacity: 1;
z-index: 35;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFF485;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
font-family: "Roboto";
text-align: center;
}
div#obj94717_content {
}



div#obj70578 {
position: absolute;
overflow: hidden;
top: 63px;
left: 41px;
width: 525px;
height: 77px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFE288;
border-width: 2px;
border-style: solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj70572 {
position: absolute;
overflow: hidden;
top: 181px;
left: 41px;
width: 515px;
height: 535px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFE288;
border-width: 2px;
border-style: solid;
border-radius: 50px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj70568 {
position: absolute;
overflow: hidden;
top: 223px;
left: 398px;
width: 110px;
height: 61px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
div#obj70552 {
position: absolute;
overflow: hidden;
top: 303px;
left: 398px;
width: 110px;
height: 61px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
div#obj70548 {
position: absolute;
overflow: hidden;
top: 380px;
left: 398px;
width: 110px;
height: 61px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
div#obj70544 {
position: absolute;
overflow: hidden;
top: 459px;
left: 397px;
width: 110px;
height: 61px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
#obj70298 {
position: absolute;
overflow: hidden;
top: 537px;
left: 608px;
width: 257px;
height: 188px;
opacity: 1;
z-index: 36;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}
audio#obj70560 {
position: absolute;
overflow: hidden;
top: 211px;
left: -318px;
width: 149px;
height: 129px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj70558 {
position: absolute;
overflow: hidden;
top: 357px;
left: -317px;
width: 149px;
height: 129px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj87267 {
position: absolute;
overflow: hidden;
top: 674px;
left: -277px;
width: 184px;
height: 121px;
opacity: 1;
z-index: 34;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}










body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
