div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj55236 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 596px;
height: 842px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj55236_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 596px;
	height: 842px;
}
div#obj55220 {
position: absolute;
overflow: hidden;
top: 782px;
left: 344px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj55220_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj55217 {
position: absolute;
overflow: hidden;
top: 782px;
left: 429px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj55217_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj55213 {
position: absolute;
overflow: hidden;
top: 782px;
left: 269px;
width: 53px;
height: 51px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj55213_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 53px;
	height: 51px;
}
div#obj55205 {
position: absolute;
overflow: hidden;
top: 81px;
left: 87px;
width: 36px;
height: 40px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj55205_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36px;
	height: 40px;
}
div#obj55187 {
position: absolute;
overflow: hidden;
top: 512px;
left: 297px;
width: 30px;
height: 30px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj55187_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
}
div#obj68222 {
position: absolute;
overflow: hidden;
top: 782px;
left: 192px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj68222_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj68214 {
position: absolute;
overflow: hidden;
top: 782px;
left: 192px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj68214_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj89269 {
position: absolute;
overflow: hidden;
top: 783px;
left: 120px;
width: 54px;
height: 51px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj89269_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 54px;
	height: 51px;
}
div#obj89264 {
position: absolute;
overflow: hidden;
top: 783px;
left: 118px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj89264_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}

div#obj55211 {
position: absolute;
overflow: hidden;
top: 27px;
left: 147px;
width: 116px;
height: 28px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj55211_content {
}
div#obj55207 {
position: absolute;
overflow: hidden;
top: 78px;
left: 131px;
width: 393px;
height: 51px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj55207_content {
}
div#obj55201 {
position: absolute;
overflow: hidden;
top: 208px;
left: 64px;
width: 246px;
height: 84px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #D8D8D8;
border-color: #0A4D7F;
border-width: 1px;
border-style: solid;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
div#obj55201_content {
}
div#obj55193 {
position: absolute;
overflow: hidden;
top: 225px;
left: 399px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj55193_content {
}
div#obj55191 {
position: absolute;
overflow: hidden;
top: 340px;
left: 393px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj55191_content {
}
div#obj55189 {
position: absolute;
overflow: hidden;
top: 447px;
left: 393px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj55189_content {
}
div#obj55183 {
position: absolute;
overflow: hidden;
top: 147px;
left: 156px;
width: 284px;
height: 32px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
text-align: center;
}
div#obj55183_content {
}
div#obj55179 {
position: absolute;
overflow: hidden;
top: 321px;
left: 63px;
width: 246px;
height: 74px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #D8D8D8;
border-color: #0A4D7F;
border-width: 1px;
border-style: solid;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
div#obj55179_content {
}
div#obj55177 {
position: absolute;
overflow: hidden;
top: 428px;
left: 64px;
width: 246px;
height: 74px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #D8D8D8;
border-color: #0A4D7F;
border-width: 1px;
border-style: solid;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
div#obj55177_content {
}
div#obj55110 {
position: absolute;
overflow: hidden;
top: 553px;
left: 87px;
width: 170px;
height: 89px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj55110_content {
}
div#obj55043 {
position: absolute;
overflow: hidden;
top: 553px;
left: 344px;
width: 170px;
height: 89px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj55043_content {
}
div#obj54976 {
position: absolute;
overflow: hidden;
top: 649px;
left: 214px;
width: 172px;
height: 62px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj54976_content {
}
div#obj95027 {
position: absolute;
overflow: hidden;
top: 736px;
left: 519px;
width: 45px;
height: 25px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFF485;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
font-family: "Roboto";
text-align: center;
}
div#obj95027_content {
}



div#obj55209 {
position: absolute;
overflow: hidden;
top: 64px;
left: 73px;
width: 470px;
height: 81px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFE288;
border-width: 2px;
border-style: solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj55203 {
position: absolute;
overflow: hidden;
top: 181px;
left: 34px;
width: 529px;
height: 539px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFE288;
border-width: 2px;
border-style: solid;
border-radius: 50px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj55199 {
position: absolute;
overflow: hidden;
top: 200px;
left: 337px;
width: 209px;
height: 92px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
div#obj55197 {
position: absolute;
overflow: hidden;
top: 313px;
left: 336px;
width: 209px;
height: 92px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
div#obj55195 {
position: absolute;
overflow: hidden;
top: 420px;
left: 336px;
width: 209px;
height: 92px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
#obj68228 {
position: absolute;
overflow: hidden;
top: 537px;
left: 608px;
width: 257px;
height: 188px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}
audio#obj55185 {
position: absolute;
overflow: hidden;
top: 204px;
left: -242px;
width: 142px;
height: 131px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj55181 {
position: absolute;
overflow: hidden;
top: 375px;
left: -242px;
width: 142px;
height: 119px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj89274 {
position: absolute;
overflow: hidden;
top: 674px;
left: -277px;
width: 184px;
height: 121px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}










body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
