div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj53557 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 596px;
height: 842px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53557_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 596px;
	height: 842px;
}
div#obj53541 {
position: absolute;
overflow: hidden;
top: 782px;
left: 269px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53541_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj53538 {
position: absolute;
overflow: hidden;
top: 782px;
left: 344px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53538_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj53536 {
position: absolute;
overflow: hidden;
top: 62px;
left: 59px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53536_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53534 {
position: absolute;
overflow: hidden;
top: 62px;
left: 236px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53534_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53532 {
position: absolute;
overflow: hidden;
top: 61px;
left: 411px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53532_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53530 {
position: absolute;
overflow: hidden;
top: 231px;
left: 58px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53530_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53528 {
position: absolute;
overflow: hidden;
top: 390px;
left: 59px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53528_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53526 {
position: absolute;
overflow: hidden;
top: 565px;
left: 59px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53526_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53524 {
position: absolute;
overflow: hidden;
top: 231px;
left: 236px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53524_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53522 {
position: absolute;
overflow: hidden;
top: 231px;
left: 403px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53522_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53520 {
position: absolute;
overflow: hidden;
top: 387px;
left: 236px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53520_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53518 {
position: absolute;
overflow: hidden;
top: 388px;
left: 403px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53518_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53516 {
position: absolute;
overflow: hidden;
top: 565px;
left: 236px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53516_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj53514 {
position: absolute;
overflow: hidden;
top: 565px;
left: 403px;
width: 128px;
height: 92px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj53514_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 128px;
	height: 92px;
}
div#obj68094 {
position: absolute;
overflow: hidden;
top: 782px;
left: 192px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj68094_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj68086 {
position: absolute;
overflow: hidden;
top: 782px;
left: 192px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj68086_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj89185 {
position: absolute;
overflow: hidden;
top: 783px;
left: 120px;
width: 54px;
height: 51px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj89185_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 54px;
	height: 51px;
}
div#obj89180 {
position: absolute;
overflow: hidden;
top: 783px;
left: 118px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj89180_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}

div#obj53512 {
position: absolute;
overflow: hidden;
top: 159px;
left: 65px;
width: 115px;
height: 48px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53512_content {
}
div#obj53510 {
position: absolute;
overflow: hidden;
top: 158px;
left: 246px;
width: 115px;
height: 65px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53510_content {
}
div#obj53508 {
position: absolute;
overflow: hidden;
top: 153px;
left: 407px;
width: 134px;
height: 85px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53508_content {
}
div#obj53506 {
position: absolute;
overflow: hidden;
top: 326px;
left: 52px;
width: 143px;
height: 54px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53506_content {
}
div#obj53504 {
position: absolute;
overflow: hidden;
top: 326px;
left: 242px;
width: 115px;
height: 48px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53504_content {
}
div#obj53502 {
position: absolute;
overflow: hidden;
top: 325px;
left: 415px;
width: 115px;
height: 48px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53502_content {
}
div#obj53500 {
position: absolute;
overflow: hidden;
top: 486px;
left: 59px;
width: 115px;
height: 52px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53500_content {
}
div#obj53498 {
position: absolute;
overflow: hidden;
top: 485px;
left: 240px;
width: 115px;
height: 48px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53498_content {
}
div#obj53496 {
position: absolute;
overflow: hidden;
top: 484px;
left: 413px;
width: 116px;
height: 67px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53496_content {
}
div#obj53494 {
position: absolute;
overflow: hidden;
top: 665px;
left: 60px;
width: 115px;
height: 48px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53494_content {
}
div#obj53492 {
position: absolute;
overflow: hidden;
top: 659px;
left: 236px;
width: 123px;
height: 66px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53492_content {
}
div#obj53490 {
position: absolute;
overflow: hidden;
top: 665px;
left: 401px;
width: 148px;
height: 55px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj53490_content {
}
div#obj95013 {
position: absolute;
overflow: hidden;
top: 736px;
left: 519px;
width: 45px;
height: 25px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFF485;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
font-family: "Roboto";
text-align: center;
}
div#obj95013_content {
}




#obj68100 {
position: absolute;
overflow: hidden;
top: 537px;
left: 608px;
width: 257px;
height: 188px;
opacity: 1;
z-index: 33;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}
audio#obj89190 {
position: absolute;
overflow: hidden;
top: 674px;
left: -277px;
width: 184px;
height: 121px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}










body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
