div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj73954 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 596px;
height: 842px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj73954_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 596px;
	height: 842px;
}
div#obj73951 {
position: absolute;
overflow: hidden;
top: 782px;
left: 344px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj73951_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj73948 {
position: absolute;
overflow: hidden;
top: 782px;
left: 429px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj73948_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj73944 {
position: absolute;
overflow: hidden;
top: 782px;
left: 269px;
width: 53px;
height: 51px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj73944_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 53px;
	height: 51px;
}
div#obj73938 {
position: absolute;
overflow: hidden;
top: 86px;
left: 76px;
width: 36px;
height: 40px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj73938_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36px;
	height: 40px;
}
div#obj73898 {
position: absolute;
overflow: hidden;
top: 591px;
left: 286px;
width: 30px;
height: 30px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj73898_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
}
div#obj73664 {
position: absolute;
overflow: hidden;
top: 782px;
left: 192px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 33;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj73664_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj73656 {
position: absolute;
overflow: hidden;
top: 782px;
left: 192px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 34;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj73656_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj89912 {
position: absolute;
overflow: hidden;
top: 783px;
left: 120px;
width: 54px;
height: 51px;
opacity: 1;
z-index: 35;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj89912_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 54px;
	height: 51px;
}
div#obj89907 {
position: absolute;
overflow: hidden;
top: 783px;
left: 118px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 36;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj89907_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}

div#obj73940 {
position: absolute;
overflow: hidden;
top: 77px;
left: 119px;
width: 404px;
height: 58px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj73940_content {
}
div#obj73928 {
position: absolute;
overflow: hidden;
top: 238px;
left: 109px;
width: 438px;
height: 39px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj73928_content {
}
div#obj73924 {
position: absolute;
overflow: hidden;
top: 235px;
left: 238px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj73924_content {
}
div#obj73922 {
position: absolute;
overflow: hidden;
top: 330px;
left: 108px;
width: 438px;
height: 39px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj73922_content {
}
div#obj73918 {
position: absolute;
overflow: hidden;
top: 327px;
left: 219px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj73918_content {
}
div#obj73916 {
position: absolute;
overflow: hidden;
top: 422px;
left: 117px;
width: 462px;
height: 39px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj73916_content {
}
div#obj73912 {
position: absolute;
overflow: hidden;
top: 418px;
left: 205px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj73912_content {
}
div#obj73910 {
position: absolute;
overflow: hidden;
top: 154px;
left: 156px;
width: 284px;
height: 32px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
text-align: center;
}
div#obj73910_content {
}
div#obj73908 {
position: absolute;
overflow: hidden;
top: 33px;
left: 126px;
width: 116px;
height: 28px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj73908_content {
}
div#obj73904 {
position: absolute;
overflow: hidden;
top: 514px;
left: 115px;
width: 462px;
height: 39px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj73904_content {
}
div#obj73900 {
position: absolute;
overflow: hidden;
top: 511px;
left: 218px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj73900_content {
}
div#obj73841 {
position: absolute;
overflow: hidden;
top: 634px;
left: 156px;
width: 100px;
height: 35px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj73841_content {
}
div#obj73788 {
position: absolute;
overflow: hidden;
top: 674px;
left: 156px;
width: 100px;
height: 35px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj73788_content {
}
div#obj73735 {
position: absolute;
overflow: hidden;
top: 634px;
left: 320px;
width: 100px;
height: 35px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj73735_content {
}
div#obj73682 {
position: absolute;
overflow: hidden;
top: 674px;
left: 320px;
width: 100px;
height: 35px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj73682_content {
}
div#obj94743 {
position: absolute;
overflow: hidden;
top: 736px;
left: 519px;
width: 45px;
height: 25px;
opacity: 1;
z-index: 38;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFF485;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
font-family: "Roboto";
text-align: center;
}
div#obj94743_content {
}



div#obj73942 {
position: absolute;
overflow: hidden;
top: 69px;
left: 54px;
width: 480px;
height: 81px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFE288;
border-width: 2px;
border-style: solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj73936 {
position: absolute;
overflow: hidden;
top: 191px;
left: 41px;
width: 516px;
height: 529px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFE288;
border-width: 2px;
border-style: solid;
border-radius: 50px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj73934 {
position: absolute;
overflow: hidden;
top: 222px;
left: 94px;
width: 411px;
height: 71px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #D8D8D8;
background-repeat: repeat;
}
div#obj73932 {
position: absolute;
overflow: hidden;
top: 314px;
left: 99px;
width: 404px;
height: 72px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #D8D8D8;
background-repeat: repeat;
}
div#obj73930 {
position: absolute;
overflow: hidden;
top: 403px;
left: 100px;
width: 404px;
height: 72px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #D8D8D8;
background-repeat: repeat;
}
div#obj73926 {
position: absolute;
overflow: hidden;
top: 231px;
left: 218px;
width: 123px;
height: 45px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
div#obj73920 {
position: absolute;
overflow: hidden;
top: 323px;
left: 199px;
width: 123px;
height: 45px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
div#obj73914 {
position: absolute;
overflow: hidden;
top: 414px;
left: 185px;
width: 123px;
height: 45px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
div#obj73906 {
position: absolute;
overflow: hidden;
top: 498px;
left: 100px;
width: 404px;
height: 72px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #D8D8D8;
background-repeat: repeat;
}
div#obj73902 {
position: absolute;
overflow: hidden;
top: 507px;
left: 198px;
width: 123px;
height: 45px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
#obj73654 {
position: absolute;
overflow: hidden;
top: 537px;
left: 608px;
width: 257px;
height: 188px;
opacity: 1;
z-index: 39;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}
audio#obj73896 {
position: absolute;
overflow: hidden;
top: 204px;
left: -242px;
width: 142px;
height: 131px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj73894 {
position: absolute;
overflow: hidden;
top: 369px;
left: -248px;
width: 142px;
height: 119px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj89917 {
position: absolute;
overflow: hidden;
top: 674px;
left: -277px;
width: 184px;
height: 121px;
opacity: 1;
z-index: 37;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}










body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
