div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj93320 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 596px;
height: 842px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93320_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 596px;
	height: 842px;
}
div#obj93324 {
position: absolute;
overflow: hidden;
top: 784px;
left: 109px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93324_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj93330 {
position: absolute;
overflow: hidden;
top: 783px;
left: 109px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93330_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj93336 {
position: absolute;
overflow: hidden;
top: 784px;
left: 187px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93336_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj93342 {
position: absolute;
overflow: hidden;
top: 783px;
left: 187px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93342_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj93351 {
position: absolute;
overflow: hidden;
top: 782px;
left: 256px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93351_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj93354 {
position: absolute;
overflow: hidden;
top: 782px;
left: 341px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93354_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj93385 {
position: absolute;
overflow: hidden;
top: 130px;
left: 510px;
width: 32px;
height: 31px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93385_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 31px;
}
div#obj93387 {
position: absolute;
overflow: hidden;
top: 179px;
left: 510px;
width: 32px;
height: 31px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93387_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 31px;
}
div#obj93389 {
position: absolute;
overflow: hidden;
top: 228px;
left: 508px;
width: 32px;
height: 31px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93389_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 31px;
}
div#obj93391 {
position: absolute;
overflow: hidden;
top: 274px;
left: 507px;
width: 32px;
height: 31px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93391_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 31px;
}
div#obj93393 {
position: absolute;
overflow: hidden;
top: 347px;
left: 506px;
width: 32px;
height: 31px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93393_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 31px;
}
div#obj93395 {
position: absolute;
overflow: hidden;
top: 395px;
left: 506px;
width: 32px;
height: 31px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93395_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 31px;
}
div#obj93397 {
position: absolute;
overflow: hidden;
top: 475px;
left: 504px;
width: 32px;
height: 31px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93397_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 31px;
}
div#obj93399 {
position: absolute;
overflow: hidden;
top: 513px;
left: 504px;
width: 32px;
height: 31px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93399_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 31px;
}
div#obj93401 {
position: absolute;
overflow: hidden;
top: 607px;
left: 503px;
width: 32px;
height: 31px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93401_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 31px;
}
div#obj93403 {
position: absolute;
overflow: hidden;
top: 651px;
left: 504px;
width: 32px;
height: 31px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj93403_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 31px;
}

div#obj93359 {
position: absolute;
overflow: hidden;
top: 39px;
left: 153px;
width: 290px;
height: 39px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #FFFEFD;
}
div#obj93359_content {
}
div#obj93361 {
position: absolute;
overflow: hidden;
top: 132px;
left: 59px;
width: 452px;
height: 27px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #000000;
}
div#obj93361_content {
}
div#obj93367 {
position: absolute;
overflow: hidden;
top: 181px;
left: 59px;
width: 452px;
height: 27px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #000000;
}
div#obj93367_content {
}
div#obj93369 {
position: absolute;
overflow: hidden;
top: 230px;
left: 57px;
width: 452px;
height: 27px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #000000;
}
div#obj93369_content {
}
div#obj93371 {
position: absolute;
overflow: hidden;
top: 276px;
left: 56px;
width: 452px;
height: 27px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #000000;
}
div#obj93371_content {
}
div#obj93373 {
position: absolute;
overflow: hidden;
top: 323px;
left: 55px;
width: 452px;
height: 56px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #000000;
}
div#obj93373_content {
}
div#obj93375 {
position: absolute;
overflow: hidden;
top: 397px;
left: 55px;
width: 452px;
height: 27px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #000000;
}
div#obj93375_content {
}
div#obj93377 {
position: absolute;
overflow: hidden;
top: 450px;
left: 53px;
width: 452px;
height: 51px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #000000;
}
div#obj93377_content {
}
div#obj93379 {
position: absolute;
overflow: hidden;
top: 515px;
left: 53px;
width: 452px;
height: 29px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #000000;
}
div#obj93379_content {
}
div#obj93381 {
position: absolute;
overflow: hidden;
top: 561px;
left: 53px;
width: 452px;
height: 80px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #000000;
}
div#obj93381_content {
}
div#obj93383 {
position: absolute;
overflow: hidden;
top: 650px;
left: 51px;
width: 452px;
height: 33px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Roboto";
color: #000000;
}
div#obj93383_content {
}
div#obj94637 {
position: absolute;
overflow: hidden;
top: 736px;
left: 519px;
width: 45px;
height: 25px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFF485;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
font-family: "Roboto";
text-align: center;
}
div#obj94637_content {
}



div#obj93322 {
position: absolute;
overflow: hidden;
top: 109px;
left: 31px;
width: 537px;
height: 616px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFD966;
border-width: 3px;
border-style: solid;
border-radius: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj93357 {
position: absolute;
overflow: hidden;
top: 22px;
left: 25px;
width: 549px;
height: 73px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFFEFD;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #14477F;
background-repeat: repeat;
}
#obj93406 {
position: absolute;
overflow: hidden;
top: 537px;
left: 608px;
width: 257px;
height: 188px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}
audio#obj93408 {
position: absolute;
overflow: hidden;
top: 674px;
left: -277px;
width: 184px;
height: 121px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}










body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
