div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj52088 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 596px;
height: 842px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52088_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 596px;
	height: 842px;
}
div#obj52093 {
position: absolute;
overflow: hidden;
top: 782px;
left: 344px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52093_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj52090 {
position: absolute;
overflow: hidden;
top: 782px;
left: 429px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52090_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj52096 {
position: absolute;
overflow: hidden;
top: 782px;
left: 269px;
width: 53px;
height: 51px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52096_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 53px;
	height: 51px;
}
div#obj52115 {
position: absolute;
overflow: hidden;
top: 31px;
left: 41px;
width: 40px;
height: 40px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52115_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
div#obj52118 {
position: absolute;
overflow: hidden;
top: 82px;
left: 35px;
width: 102px;
height: 146px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52118_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 102px;
	height: 146px;
}
div#obj52121 {
position: absolute;
overflow: hidden;
top: 83px;
left: 169px;
width: 102px;
height: 146px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52121_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 102px;
	height: 146px;
}
div#obj52124 {
position: absolute;
overflow: hidden;
top: 84px;
left: 303px;
width: 102px;
height: 146px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52124_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 102px;
	height: 146px;
}
div#obj52127 {
position: absolute;
overflow: hidden;
top: 84px;
left: 437px;
width: 102px;
height: 146px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52127_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 102px;
	height: 146px;
}
div#obj52143 {
position: absolute;
overflow: hidden;
top: 630px;
left: 283px;
width: 30px;
height: 30px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52143_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
}
div#obj52204 {
position: absolute;
overflow: hidden;
top: 298px;
left: 61px;
width: 36px;
height: 40px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj52204_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36px;
	height: 40px;
}
div#obj67998 {
position: absolute;
overflow: hidden;
top: 782px;
left: 192px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj67998_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj67990 {
position: absolute;
overflow: hidden;
top: 782px;
left: 192px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj67990_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}
div#obj89113 {
position: absolute;
overflow: hidden;
top: 783px;
left: 120px;
width: 54px;
height: 51px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj89113_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 54px;
	height: 51px;
}
div#obj89108 {
position: absolute;
overflow: hidden;
top: 783px;
left: 118px;
width: 60px;
height: 51px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj89108_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60px;
	height: 51px;
}

div#obj52113 {
position: absolute;
overflow: hidden;
top: 31px;
left: 93px;
width: 522px;
height: 54px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj52113_content {
}
div#obj52149 {
position: absolute;
overflow: hidden;
top: 295px;
left: 107px;
width: 409px;
height: 52px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj52149_content {
}
div#obj52129 {
position: absolute;
overflow: hidden;
top: 424px;
left: 60px;
width: 292px;
height: 104px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #D8D8D8;
border-color: #0A4D7F;
border-width: 1px;
border-style: solid;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
div#obj52129_content {
}
div#obj52141 {
position: absolute;
overflow: hidden;
top: 546px;
left: 60px;
width: 292px;
height: 77px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #D8D8D8;
border-color: #0A4D7F;
border-width: 1px;
border-style: solid;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
div#obj52141_content {
}
div#obj52131 {
position: absolute;
overflow: hidden;
top: 448px;
left: 411px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj52131_content {
}
div#obj52137 {
position: absolute;
overflow: hidden;
top: 566px;
left: 411px;
width: 82px;
height: 36px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #7F7F7F;
}
div#obj52137_content {
}
div#obj52145 {
position: absolute;
overflow: hidden;
top: 357px;
left: 147px;
width: 284px;
height: 34px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
text-align: center;
}
div#obj52145_content {
}
div#obj52154 {
position: absolute;
overflow: hidden;
top: 667px;
left: 127px;
width: 121px;
height: 45px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj52154_content {
}
div#obj52179 {
position: absolute;
overflow: hidden;
top: 667px;
left: 331px;
width: 121px;
height: 45px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFC000;
border-color: rgba(0,0,0,0);
border-width: 0px;
border-style: solid;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
div#obj52179_content {
}
div#obj52151 {
position: absolute;
overflow: hidden;
top: 258px;
left: 130px;
width: 116px;
height: 28px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj52151_content {
}
div#obj95001 {
position: absolute;
overflow: hidden;
top: 736px;
left: 519px;
width: 45px;
height: 25px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
background-color: #FFF485;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
font-family: "Roboto";
text-align: center;
}
div#obj95001_content {
}
div#obj98854 {
position: absolute;
overflow: hidden;
top: 230px;
left: 56px;
width: 61px;
height: 28px;
opacity: 1;
z-index: 34;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj98854_content {
}
div#obj98856 {
position: absolute;
overflow: hidden;
top: 229px;
left: 171px;
width: 95px;
height: 28px;
opacity: 1;
z-index: 35;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj98856_content {
}
div#obj98858 {
position: absolute;
overflow: hidden;
top: 229px;
left: 307px;
width: 95px;
height: 28px;
opacity: 1;
z-index: 36;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj98858_content {
}
div#obj98860 {
position: absolute;
overflow: hidden;
top: 229px;
left: 445px;
width: 95px;
height: 28px;
opacity: 1;
z-index: 37;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj98860_content {
}



div#obj52147 {
position: absolute;
overflow: hidden;
top: 284px;
left: 35px;
width: 525px;
height: 70px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFE288;
border-width: 2px;
border-style: solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj52135 {
position: absolute;
overflow: hidden;
top: 398px;
left: 40px;
width: 510px;
height: 325px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFE288;
border-width: 2px;
border-style: solid;
border-radius: 50px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
background-color: rgba(0,0,0,0);
background-repeat: repeat;
}
div#obj52133 {
position: absolute;
overflow: hidden;
top: 430px;
left: 376px;
width: 142px;
height: 70px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
div#obj52139 {
position: absolute;
overflow: hidden;
top: 550px;
left: 374px;
width: 142px;
height: 70px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #BFBFBF;
background-repeat: repeat;
}
#obj68004 {
position: absolute;
overflow: hidden;
top: 537px;
left: 608px;
width: 257px;
height: 188px;
opacity: 1;
z-index: 33;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-color: #000000;
}
audio#obj52208 {
position: absolute;
overflow: hidden;
top: 344px;
left: -321px;
width: 149px;
height: 129px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj52207 {
position: absolute;
overflow: hidden;
top: 344px;
left: -321px;
width: 149px;
height: 129px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj89118 {
position: absolute;
overflow: hidden;
top: 674px;
left: -277px;
width: 184px;
height: 121px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}










body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
